.faqInfo{
    &__block{
        border-bottom: 1px solid #fff;
        padding-bottom: 20px;
        margin-top: 20px;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
        position: relative;
    }
    &__icon{
        position: absolute;
        top: 0;
        right: 0;
    }
    &__question{
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #fff;
        cursor: pointer;
        
    }
    &__answer{
        font-weight: 600;
        font-size: 16px;
        line-height: 162%;
        color: #fff;
        margin-top: 20px;
    }
}

  .faqInfo__answer-wrapper {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.faqInfo__answer-wrapper.open {
  max-height: 500px; 
  opacity: 1;
}

.faqInfo__icon {
  transition: transform 0.3s ease;
  cursor: pointer;
}

.faqInfo__icon.open {
  transform: rotate(45deg); 
}

