.card {
    margin-top: 48px;

    &__info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 28px;

        & > :nth-child(3n + 1) {
            justify-self: start;
        }

        & > :nth-child(3n + 2) {
            justify-self: center;
        }

        & > :nth-child(3n + 3) {
            justify-self: end;
        }
    }

    &__image {
        max-width: 370px;
        border-radius: 4px;
    }
    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: #444b58;
        margin-top: 4px;
    }
    &__price {
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #444b58;
        margin-top: 4px;
    }
}
